<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <parameter name="url" value="http://www.amazon.com"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="Fifteeth_session_B.ExecClass"></class>
			
		</classes> 
  </test> <!-- Test -->
  <test name="Browser testing">
  <parameter name="url" value="http://www.amazon.com"></parameter>
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="Fifteeth_session_B.ExecClass"></class>
			
		</classes> 
		</test>
</suite> <!-- Suite -->
